@model IEnumerable<LuisCarlosMySql.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn-sm btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                    <a asp-action="Edit" class="btn-sm btn-warning" asp-route-id="@item.IdProductos">Edit</a> |
                    <a asp-action="Details" class="btn-sm btn-info" asp-route-id="@item.IdProductos">Details</a> |
                    <a asp-action="Delete" class="btn-sm btn-danger" asp-route-id="@item.IdProductos">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
